.extranet-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 23, 42);

    &-container {
        display: flex;
        gap: 2rem;
        position: relative;
        
        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: .5px;
            background-color: rgb(128, 128, 128, .2);
        }
        
        &-column {
            display: flex;
            flex-direction: column;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 3rem;
            padding-bottom: 3rem;
            gap: .75rem;
            min-width: 0;
            flex: 1;

            &_title {
                font-weight: 600;
                margin-bottom: .75rem;
                color: white;
                font-size: inherit;
                margin: 0;
            }

            &-find {
                font-weight: 700;
                margin-bottom: .75rem;
                color: white;
                font-size: 1.125rem;
                margin: 0;

                &_my {
                    color: rgb(56, 189, 248);
                    font-weight: 700;
                    font-size: 1.125rem;
                    margin-bottom: 1.125rem;
                }
            }

            &_text {
                font-size: .875rem;
                color: rgb(148, 163, 184);
                cursor: pointer;
            }
        }
    }

    &_right {
        margin-top: 2rem;
        margin-bottom: 3rem;
        font-size: .875rem;
        color: rgb(148, 163, 184);
    }
}