.extranet-companyStep2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 1rem 1.5rem 1rem 1.5rem;
    transform: translate(-50%, -50%);
    width: 32rem;
    height: max-content;
    border-radius: .5rem;
    background-color: white;
    z-index: 999;

    &-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-bar {
            display: flex;
        }

        &-bar {
            display: flex;
            gap: .2rem;

            &_complete {
                width: 2rem;
                height: .375rem;
                border-radius: 100px;
                background-color: rgb(14, 165, 233);
            }
        }

        &_page {
            font-size: .875rem;
            line-height: 1.25rem;
            color: rgb(100, 116, 139);
        }
    }

    &-body {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;

        &-text {
            display: flex;
            align-items: center;
            flex-direction: column;

            &_logo {
                align-content: center;
                text-align: center;
                aspect-ratio: 1/1;
                width: 3rem;
                height: 3rem;
                margin-top: 3rem;
                margin-bottom: 1rem;
                border-radius: 100px;
                color: rgb(2, 132, 199);
                background-color: rgb(224, 242, 254);
            }

            &_title {
                font-size: 1.25rem;
                line-height: 1.75rem;
                font-weight: 700;
                color: rgb(15, 23, 42);
            }

            &_subtitle {
                font-size: .875rem;
                line-height: 1.25rem;
                color: rgb(100, 116, 139);
                margin-bottom: 1.5rem;
            }
        }

        &-container, &-cellule {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: .2rem;

            &_label {
                width: 100%;
                color: rgb(51, 65, 85);
                line-height: 1;
                font-weight: 500;
                font-size: .875rem;
                margin-bottom: .5rem;
            }

            &_textarea {
                resize: none;
                height: 8rem;
            }

            &_input, &_textarea {
                width: 100%;
                font-size: .875rem;
                line-height: 1.25rem;
                border-radius: calc(.5rem - 2px);
                border: 1px solid rgb(229, 229, 229);
                padding: .5rem .75rem .5rem .75rem;
                box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / .05);
            }
        }

        &-btn {
            display: flex;
            justify-content: space-between;
            margin-top: 1.5rem;

            &_back {
                display: flex;
                align-items: center;
                border: none;
                height: 2.25rem;
                font-weight: 500;
                font-size: .875rem;
                line-height: 1.25rem;
                padding: .5rem 1rem .5rem 1rem;
                background-color: transparent;
                cursor: pointer;
            }

            &-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: .5rem;

                &_finish {
                    display: flex;
                    align-items: center;
                    height: 2.25rem;
                    border-radius: calc(.5rem - 2px);
                    border: none;
                    padding: .5rem 1rem .5rem 1rem;
                    font-size: .875rem;
                    line-height: 1.25rem;
                    font-weight: 500;
                    color: rgb(100, 116, 139);
                    background-color: transparent;
                    cursor: pointer;
                }

                &_skip {
                    color: rgb(100, 116, 139);
                }

                &_finish {
                    color: #fafafa;
                    background: linear-gradient(to right, #10b981, #0d9488);
                }                  
            }
        }
    }
}