.app-myoffers {
    min-height: 42rem;
    background-color: rgb(241, 245, 249);

    &-body {
        width: 60rem;
        margin-left: auto;
        margin-right: auto;
        padding-top: 2rem;

        &-header {

            &_title {
                color: rgb(15, 23, 42);
                font-weight: 700;
                font-size: 1.875rem;
                line-height: 2.25rem;
            }

            &_subtitle {
                color: rgb(100, 116, 139);
            }
        }

        &-cards {
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            margin-top: 2rem;

            &-element {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                padding: 1rem;
                border: 1px solid #e5e5e5;
                background-color: white;
                border-radius: .8rem;
                box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);

                &-number {
                    font-weight: 700;
                    font-size: 1.875rem;
                    line-height: 2.25rem;

                    &_total {
                        color: rgb(15, 23, 42);
                    }

                    &_active {
                        color: rgb(5, 150, 105);
                    }

                    &_inactive {
                        color: rgb(148, 163, 184);
                    }

                    &_week {
                        color: rgb(2, 132, 199);
                    }
                }

                &_text {
                    color: rgb(100, 116, 139);
                    font-size: .875rem;
                    line-height: 1.25rem;
                }
            }
        }

        &-offer {
            background-color: white;
            padding: 1.25rem;
            border-radius: .8rem;
            margin-top: 2rem;
            box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);

            &-element {
                display: flex;
                flex-direction: column;
                gap: .7rem;

                &-header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &-active {
                        display: flex;
                        align-items: center;
                        gap: .8rem;
                        color: rgb(100, 116, 139);
                        font-size: .875rem;
                        line-height: 1.25rem;

                        &_point {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 2.25rem;
                            height: 2.25rem;
                            border-radius: calc(.5rem - 2px);
                            cursor: pointer;

                            &:hover {
                                background-color: rgb(128, 128, 128, .1);
                            }
                        }
                    }

                    &_title {
                        font-weight: 600;
                        font-size: 1.125rem;
                        line-height: 1.75rem;
                    }
                }

                &-info {
                    display: flex;
                    gap: 1rem;

                    &_location, &_date {
                        display: flex;
                        align-items: center;
                        gap: .3rem;
                        font-size: .875rem;
                        line-height: 1.25rem;
                        color: rgb(100, 116, 139);
                    }
                }

                &_tag {
                    display: flex;
                    gap: 1rem;
                    margin-top: .2rem;
                }
            }
        }
    }
}