.module-connexion {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 1rem 1.5rem 1rem 1.5rem;
    transform: translate(-50%, -50%);
    width: max-content;
    min-height: 400px;
    border-radius: .5rem;
    background-color: white;
    z-index: 999;

    &_filtre {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0, .8);
        z-index: 999;
    }

    &_title {
        color: rgb(15, 23, 42);
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2rem;
    }

    &_subtitle {
        color: rgb(100, 116, 139);
        margin-top: .5rem;
        margin-bottom: 1.5rem;
    }

    &-container {
        display: flex;
        gap: 1rem;

        &-candidat {
            &_logo {
                background: linear-gradient(to bottom right, #38bdf8, #2563eb);
            }

            &:hover {
                border-color: #0ea5e9;
            }
        }

        &-companie {
            &_logo {
                background: linear-gradient(to bottom right, #34d399, #0d9488);
            }

            &:hover {
                border-color: #129b00;
            }
        }

        &-candidat, &-companie {
            width: 223px;
            height: 179px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1.5rem;
            border: 2px solid rgb(226, 232, 240);
            border-radius: 1rem;
            cursor: pointer;

            &_logo {
                align-content: center;
                text-align: center;
                aspect-ratio: 1/1;
                width: 4rem;
                height: 4rem;
                margin-bottom: 1rem;
                border-radius: 100px;
                color: white;
            }

            &_title {
                color: rgb(15, 23, 42);
                font-weight: 600;
                font-size: inherit;
            }

            &_subtitle {
                color: rgb(100, 116, 139);
                line-height: 1.25rem;
                font-size: .875rem;
                margin-top: .25rem;
            }
        }
    }
}