.extranet-switch {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 4px 2px 4px 2px;
    aspect-ratio: 1/1;
    width: 2.25rem;
    height: 1.25rem;
    border: none;
    border-radius: 100px;
    background-color: #171717;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / .05);
    cursor: pointer;

    &_span {
        width: 1rem;
        height: 1rem;
        aspect-ratio: 1/1;
        border-radius: 100px;
        background-color: white;
        overflow: hidden;
        transition: transform 200ms ease-in-out;
    }

    &_transition {
        transform: translate(17px);
    }

    &_change {
        opacity: .16;
    }
}