.app-authentification {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #f8fafc, #f1f5f9);

    &-form {
        padding: 3rem 2.5rem 2.5rem 2.5rem;
        background-color: white;
        border-radius: 1rem;
        box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgb(0 0 0 / 0.25);

        &-container {
            width: 100%;
            height: max-content;
            display: flex;
            flex-direction: column;
            align-items: center;

            &-ring {
                width: 6rem;
                height: 6rem;
                aspect-ratio: 1/1;
                border-radius: 100px;
                overflow: hidden;
                margin-bottom: 2rem;

                &_img {
                    width: 100%;
                }
            }

            &_title {
                font-size: 1.875rem;
                line-height: 2.25rem;
                color: rgb(15, 23, 42);
                letter-spacing: -0.025rem;
                font-weight: 700;
            }

            &_subtitle {
                margin-top: calc(0.75rem);
                margin-bottom: 2rem;
                font-size: 1rem;
                line-height: 1.5rem;
                color: rgb(100, 116, 139);
                font-weight: 500;
            }

            &_google {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                gap: .5rem;
                color: rgb(51, 65, 85);
                margin-bottom: 1.5rem;
                font-weight: 500;
                font-size: 16px;
                padding: 0.875rem 1.25rem 0.875rem 1.25rem;
                background-color: white;
                border: 1px solid rgb(226, 232, 240);
                border-radius: .75rem;
            }

            &-separate {
                display: flex;
                align-items: center;
                font-weight: 500;
                margin-bottom: 2rem;
                font-size: .75rem;
                letter-spacing: 0.05rem;
                color: rgb(148, 163, 184);
                gap: .75rem;

                &_line {
                    border: 1px solid rgb(148, 163, 184, .2);
                    width: 200px;
                    height: 1px;
                }
            }

            &_label {
                color: rgb(51, 65, 85);
                font-weight: 500;
                font-size: .875rem;
                line-height: 1.25rem;
                margin-bottom: .5rem;
            }

            &-content {
                display: flex;
                flex-direction: column;
                position: relative;
                width: 100%;
                margin-bottom: 1.25rem;

                &_svg {
                    position: absolute;
                    top: 25%;
                    left: .75rem;
                    color: #808080;
                }

                &_input {
                    width: 100%;
                    height: 3rem;
                    font-size: .875rem;
                    line-height: 1.25rem;
                    padding: .5rem 0 .5rem 2.5rem;
                    background-color: white;
                    border-radius: .75rem;
                    border: 1px solid rgb(226, 232, 240);
                }
            }

            &_send {
                width: 100%;
                height: 3rem;
                color: white;
                font-size: .875rem;
                font-weight: 500;
                line-height: 1.25rem;
                padding: .5rem .75rem .5rem .75rem;
                background-color: rgb(15, 23, 42);
                border-radius: .75rem;
                border: none;
                margin-bottom: .75rem;
            }

            &-help {
                display: flex;
                justify-content: space-between;
                width: 100%;

                &_forgot, &-need {
                    color: rgb(100, 116, 139);
                    font-weight: 500;
                    font-size: .875rem;
                    line-height: 1.25rem;
                }

                &-need {
                    font-weight: inherit;

                    &_up {
                        font-weight: 500;
                        color: rgb(51, 65, 85);
                    }
                }
            }
        }
    }
}