.extranet-companie {
    padding: 1.5rem;
    border: 2px solid rgb(226, 232, 240);
    border-radius: 1rem;
    background-color: white;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);

    &:hover {
        transform: scale(1.01);
        transform: translateY(-6px);
        border-color: rgb(56, 189, 248);
    }

    &-container {
        display: flex;
        gap: 1rem;

        &_img {
            aspect-ratio: 1/1;
            width: 4rem;
            height: 4rem;
            background: linear-gradient(to bottom right, #f1f5f9 , #e2e8f0);
            border-radius: .75rem;
        }

        &-card {
            display: flex;
            flex-direction: column;
            gap: .25rem;

            &_title {
                font-size: 1.125rem;
                color: rgb(15, 23, 42);
                font-weight: 600;
            }

            &-info {
                display: flex;
                gap: 1rem;
                font-size: .875rem;
                color: rgb(100, 116, 139);
                
                &_svg {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                }
            }

            &_activitie {
                color: rgb(71, 85, 105);
                font-size: .75rem;
                padding-top: .125rem;
                padding-bottom: .125rem;
                padding-left: .625rem;
                padding-right: .625rem;
                background-color: rgb(241, 245, 249);
                border-radius: calc(.5rem - 2px);
                width: max-content;
            }

            &_description {
                margin-top: 1rem;
                color: rgb(71, 85, 105);
                font-size: .875rem;
            }
        }
    }
}