.app-publication {
    padding-top: 2rem;
    padding-bottom: 6rem;
    background-color: rgb(241, 245, 249);

   &-back {
        max-width: 56rem;
        margin-left: auto;
        margin-right: auto;

        &_span {
            display: flex;
            align-items: center;
            width: max-content;
            gap: .5em;
            margin-bottom: 2rem;
            font-size: 1rem;
            color: rgb(71, 85, 105);
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }

    &-form {
        max-width: 56rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: .5rem;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #e5e5e5;
        background-color: white;
        box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
        
        &-header {
            padding: 1.5rem;
            border-bottom: 1px solid #e5e5e5;
            display: flex;
            align-items: center;
            gap: .75rem;

            &_svg {
                background: linear-gradient(to right, #0ea5e9, #2563eb);
                aspect-ratio: 1/1;
                width: 2.3rem;
                border-radius: 12px;
                color: white;
                align-content: center;
                text-align: center;
            }

            &_title {
                letter-spacing: -.025em;
                line-height: 1;
                font-weight: 600;
                font-size: 1rem;
            }
        }

        &-info {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            padding: 1.5rem 1.5rem 0 1.5rem;

            &-header {
                display: flex;
                align-content: center;
                gap: .5rem;

                &_svg {
                    color: rgb(2, 132, 199);
                }

                &_title {
                    color: rgb(15, 23, 42);
                    font-weight: 600;
                    font-size: 1.125rem;
                    line-height: 1.75rem;
                    gap: .5rem;
                }
            }

            &-body {
                display: flex;
                flex-direction: column;
                gap: 1.6rem;
                padding-bottom: 2rem;
                border-bottom: 1px solid #e5e5e5;
                
                &-group {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    &_label {
                        display: flex;
                        align-items: center;
                        gap: .3rem;
                        color: rgb(51, 65, 85);
                        line-height: 1;
                        font-weight: 500;
                        font-size: .875rem;
                    }

                    &_input, &_textarea, &_select {
                        width: 100%;
                        height: 2.25rem;
                        margin-top: .25rem;
                        font-size: .875rem;
                        line-height: 1.25rem;
                        border-radius: calc(.5rem - 2px);
                        padding: .25rem .75rem .25rem .75rem;
                        background-color: transparent;
                        border: 1px solid #e5e5e5;
                        box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / .05);

                        &:focus {
                            outline: none;
                            border: 1px solid #0a0a0a80;
                        }
                    }

                    &_textarea {
                        min-height: 150px;
                        font-size: .875rem;
                        line-height: 1.25rem;
                        padding: .5rem .75rem .5rem .75rem;
                        height: 6rem;
                        resize: none;
                    }

                    &_select {
                        cursor: pointer;
                    }

                    &_option {
                        background-color: white;
                        border: none;
                        padding: .3rem .5rem .3rem .5rem;
                        font-size: .875rem;
                        margin: .2rem;
                        box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / .05);

                        &:hover {
                            background-color: rgb(115, 115, 115, .1);
                            border-radius: .5rem;
                        }
                    }
                }

                &-megagroup {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                }
            }
        }

        &-profil {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1.5rem 1.5rem 2rem 1.5rem;
            border-bottom: 1px solid #e5e5e5;

            &-header {
                display: flex;
                gap: .5rem;

                &_svg {
                    color: rgb(2, 132, 199);
                }

                &_title {
                    font-size: 1.125rem;
                    line-height: 1.75rem;
                    font-weight: 600;
                    color: rgb(15, 23, 42);
                }
            }

            &-techno {
                display: flex;
                flex-direction: column;

                &-group {
                    display: flex;
                    gap: 0.5rem;

                    &_input {
                        flex: 0 0 78%;
                        cursor: pointer;
                    }

                    &_select {
                        flex: 0 0 16%;
                        cursor: pointer;
                    }

                    &_btn {
                        flex: 0 0 6%;
                        font-size: 1.5rem;
                        cursor: pointer;
                    }
                }
            }
        }

        &-advantage {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1.5rem 1.5rem 2rem 1.5rem;
            border-bottom: 1px solid #e5e5e5;

            &-header {
                display: flex;
                gap: .5rem;

                &_svg {
                    color: rgb(2, 132, 199);
                }

                &_title {
                    color: rgb(15, 23, 42);
                    font-weight: 600;
                    font-size: 1.125rem;
                    line-height: 1.75rem;
                }
            }

            &-box {
                display: grid;
                gap: .8rem;
                grid-template-columns: repeat(3, minmax(0, 1fr));

                    &-group {
                        display: flex;
                        gap: .5rem;

                        &_label {
                            font-size: .875rem;
                            font-weight: 500;
                        }                     
                        
                        &_input {
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;
                            color: rgb(71, 85, 105);
                            font-weight: 500;
                            font-size: .875rem;

                            > input {
                                appearance: none;
                                -webkit-appearance: none;

                                width: 1rem;
                                height: 1rem;
                                border: 1px solid rgb(23, 23, 23, .6);
                                border-radius: 4px;
                                cursor: pointer;
                                background-color: white;

                                display: grid;
                                place-content: center;
                            

                                &::before {
                                    content: "✓";
                                    font-size: 0.75rem;
                                    color: white;
                                    transform: scale(0);
                                    transition: transform 0.1s ease-in-out;
                                }

                                &:checked {
                                    background-color: rgb(0, 152, 222);

                                    &::before {
                                        transform: scale(1);
                                    }
                                }
                            }
                        }

                        &_label {
                            font-size: .875rem;
                            font-weight: 500;
                            cursor: pointer;
                        }
                }
            }
        }

        &-complementary {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1.5rem;
            border-bottom: 2px solid #e5e5e5;
            
            &-header {
                display: flex;
                gap: .5rem;

                &_svg {
                    color: rgb(2, 132, 199);
                }
                
                &_title {
                    color: rbg(15, 23, 42);
                    font-weight: 600;
                    font-size: 1.125rem;
                    line-height: 1.75rem;
                }
            }
        }

        &-apply {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1.5rem;
            border-bottom: 1px solid #e5e5e5;

            &-header {
                display: flex;
                gap: .5rem;

                &_svg {
                    color: rgb(2, 132, 199);
                }

                &_title {
                    font-size: 1.125rem;
                    line-height: 1.75rem;
                    font-weight: 600;
                    color: rgb(15, 23, 42);
                }
            }

            &-box {
                display: flex;
                flex-direction: column;
                gap: .6rem;

                &-group {
                    display: flex;
                    gap: .5rem;

                    &_input {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                        color: rgb(71, 85, 105);
                        font-weight: 500;
                        font-size: .875rem;

                        > input {
                            appearance: none;
                            -webkit-appearance: none;

                            width: 1rem;
                            height: 1rem;
                            border: 1px solid rgb(23, 23, 23, .6);
                            border-radius: 4px;
                            cursor: pointer;
                            background-color: white;

                            display: grid;
                            place-content: center;
                        

                            &::before {
                                content: "✓";
                                font-size: 0.75rem;
                                color: white;
                                transform: scale(0);
                                transition: transform 0.1s ease-in-out;
                            }

                            &:checked {
                                background-color: rgb(0, 152, 222);

                                &::before {
                                    transform: scale(1);
                                }
                            }
                        }
                    }

                    &_label {
                        font-size: .875rem;
                        line-height: 1;
                        font-weight: 600;
                    }
                }
            }
        }

        &-save {
            display: flex;
            justify-content: flex-end;
            padding: 1.5rem;
            gap: 1rem;

            &_cancel {
                font-weight: 500;
                font-size: .875rem;
                line-height: 1.25rem;
                border-radius: calc(.5rem - 2px);
                padding: .5rem 1rem .5rem 1rem;
                background-color: white;
                border: 1px solid #e5e5e5;
                cursor: pointer;
            }

            &_publish {
                display: flex;
                align-items: center;
                width: max-content;
                height: 2.25rem;
                border: none;
                gap: 1rem;
                font-size: .875rem;
                line-height: 1.25rem;
                border-radius: calc(.5rem - 2px);
                padding: .5rem 1rem .5rem 1rem;
                background: linear-gradient(to right, #0ea5e9, #2563eb);
                font-weight: 500;
                color: #fafafa;
                cursor: pointer;
            }
        }
    }
}