.extranet-select {
    position: relative;
    width: 100%;
    height: max-content;
    
    &_btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: black;
        width: 100%;
        height: 20px;
    }

    &_placeholder {
        color: #737373;
    }

    &_enable {
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: max-content;
        background-color: white;
        border-radius: calc(.5rem - 2px);
        box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / .05);
    }

    &_disable {
        display: none;
        visibility: hidden;
    }

    &-ul {
        text-decoration: none;
        &_li {
            list-style: none;
        }
    }
}