$taille: 100%;

.app-register {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #f8fafc, #f1f5f9);

    &-form {
        padding: 3rem 2.5rem 2.5rem 2.5rem;
        background-color: white;
        border-radius: 1rem;
        box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgb(0 0 0 / 0.25);

        width: 30%;

        &-container {
            width: $taille;
            height: max-content;
            display: flex;
            flex-direction: column;
            align-items: center;

        &_back {
            display: flex;
            align-items: center;
            width: $taille;
            color: rgb(100, 116, 139);
            margin-bottom: 1.5rem;
            font-weight: 500;
            font-size: .875rem;
            line-height: 1.25rem;
            gap: .5rem;
        }

            &_title {
                font-size: 1.875rem;
                line-height: 2.25rem;
                color: rgb(15, 23, 42);
                letter-spacing: -0.025rem;
                font-weight: 700;
                margin-bottom: 1.5rem;
            }

            &_label {
                color: rgb(51, 65, 85);
                font-weight: 500;
                font-size: .875rem;
                line-height: 1.25rem;
                margin-bottom: .5rem;
            }

            &-content {
                display: flex;
                flex-direction: column;
                position: relative;
                width: $taille;
                margin-bottom: 1.25rem;

                &_svg {
                    position: absolute;
                    top: 25%;
                    left: .75rem;
                    color: #808080;
                }

                &_input {
                    width: $taille;
                    height: 3rem;
                    font-size: .875rem;
                    line-height: 1.25rem;
                    padding: .5rem 0 .5rem 2.5rem;
                    background-color: white;
                    border-radius: .75rem;
                    border: 1px solid rgb(226, 232, 240);
                }
            }

            &_send {
                width: $taille;
                height: 3rem;
                color: white;
                font-size: .875rem;
                font-weight: 500;
                line-height: 1.25rem;
                padding: .5rem .75rem .5rem .75rem;
                background-color: rgb(15, 23, 42);
                border-radius: .75rem;
                border: none;
                margin-bottom: .75rem;
                cursor: pointer;
            }
        }
    }
}