.app-companie {
    margin-bottom: 6rem;

    &-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 4rem;
        padding-bottom: 4rem;
        color: rgb(255, 255, 255);
        background-color: #0f172a;

        &_title {
            font-size: 3rem;
            line-height: 1;
            font-weight: 700;
            margin: 0;
            margin-bottom: 1rem;
        }

        &_subtitle {
            font-size: 1.25rem;
            line-height: 1.75rem;
            color: rgb(203, 213, 225);
            max-width: 42rem;
            margin: 0;
        }
    }

    &-research {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: -2rem;
        max-width: 72rem;
        padding: 1.5rem;
        border-radius: 1rem;
        gap: 1rem;
        background-color: white;
        border: 2px solid rgb(226, 232, 240);
        box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgb(0 0 0 / .25);

        &-companie, &-location, &-sector {
            width: 100%;
            position: relative;

            &_input, &_secinput {
                width: 100%;
                height: 3rem;
                font-size: .875rem;
                line-height: 1.25rem;
                border-radius: calc(.5rem - 2px);
                padding: .25rem .75rem .25rem 2.5rem;
                border: 1px solid rgb(226, 232, 240);
                box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / .05);
            }

            &_secinput {
                padding-left: .75rem;
            }

            &_secsvg {
                position: absolute;
                top: 25%;
                right: 5%;
                color: rgb(148, 163, 184);
            }

            &_svg {
                position: absolute;
                top: 25%;
                left: 2%;
                color: rgb(148, 163, 184);
            }
        }

        &-location, &-sector {
            width: 50%;
        }
    }

    &-result {
        margin-left: auto;
        margin-right: auto;
        max-width: 72rem;

        &-text {
            margin-left: auto;
            margin-right: auto;
            margin-top: 2rem;
            max-width: 72rem;
            margin-bottom: 2rem;
            color: rgb(71, 85, 105);

            &_digit {
                color: rgb(15, 23, 42);
                font-weight: 600;
            }
        }

        &-cards {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            &_element {
                flex: 0 0 calc(50% - 0.5rem);
                box-sizing: border-box;
            }
        }
    }
}